# Publish should be run with `./build` path and nothing from root should be published

.idea/
.vscode/
.github/
.husky/
*.ignore

src
docs

.browserslistrc
.commitlintrc.json
.envrc
.eslintignore
.eslintrc.json
.gitignore
.lintstagedrc.json
.npmignore
.prettierignore
.prettierrc.json
babel.config.js
copy-files.ts
renovate.json
tsconfig.json
yarn.lock
