{
    "presets": [
        "@babel/preset-react",
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "entry",
                "loose": true,
                "corejs": 3
            }
        ]
    ],
    "env": {
        "test": {
            "plugins": [
                [
                    "istanbul",
                    {
                        "exclude": ["**/*.unit.{js,jsx}", "**/*.e2e.{js,jsx}"]
                    }
                ]
            ]
        }
    }
}
